@model InvoiceDemo.Models.Invoice
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Invoice</h1>
<input id="invID" value="Invoice#: INV-@ViewBag.InvoiceId" class="form-control-plaintext font-weight-bold" disabled />
<input value="Customer: @ViewBag.CustomerName" class="form-control-plaintext font-weight-bold" disabled />
<input value="Date: @ViewBag.InvoiceDate" class="form-control-plaintext font-weight-bold" disabled />
<hr />

<div class="row">
    <div class="mb-2 mt-0">
        <button class="btn btn-success" id="addRow">Add Product</button>
    </div>
    <div id="main" class="table-responsive">
        <table id="data" class="table table-centered mb-0 table-nowrap">
            <tr>
                <td><b>Product Name</b></td>
                <td><b>اسم المنتج</b></td>
                <td><b>Unit Price</b></td>
                <td><b>Qty</b></td>
                <td><b>Sales Total</b></td>
                <td><b>Tax</b></td>
                <td><b>Tax Amount</b></td>
                <td><b>Total</b></td>
                <td></td>
            </tr>
            <tbody>
                @foreach (var item in ViewBag.InvoiceProducts)
	            {
                <tr id="row">
                    <td>
                        <select id="select" class="form-control mb-2" style="width:60%">
                            <option>@item.ProductName</option>
                            @foreach (var pro in ViewBag.products)
                            {
                                if (pro.ProductName != item.ProductName)
                                {
                                    <option>@pro.ProductName</option>
                                }
                            }
                        </select>
                    </td>
                    <td><input id="NameAr" class="NameAr form-control" type="text" value="@item.ProductNameAr" disabled /></td>
                    <td><input id="price" class="form-control" type="text" value="@item.Price" /></td>
                    <td><input id="Qty" class="form-control" value="@item.Qty" type="text" /></td>
                    <td><input id="ItemTotal" class="form-control" value="@item.SalesTotal" type="text" disabled /></td>
                    <td><input id="tax" class="form-control" value="@item.Tax" type="text" /></td>
                    <td><input id="TaxAmount" class="form-control" value="@item.TaxAmmount" type="text" disabled /></td>
                    <td><input id="Total" class="form-control" value="@item.Total" type="text" disabled /></td>
                    <td><button id="deleteRow" class="delete btn btn-danger">X</button></td>
                </tr>
	            }
            </tbody>
        </table>
    </div> @*ُEnd Table*@
</div>

<div>
    <a asp-action="Index" class="btn btn-applogica-secondary2">Back to List</a>
    <a id="btnupdate" type="submit" asp-action="Index" class="btn btn-applogica2">Update</a>

</div>
<div class="d-flex flex-row SummeryMasterTable">
    <div class="SummeryTable col-4">
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Sales Total</b></td>
                    <td id="salesTotal">
                        <span>0</span>
                    </td>
                </tr>
                <tr>
                    <td><b>Tax Total</b></td>
                    <td id="taxTotal"><span>0</span></td>
                </tr>
                <tr>
                    <td><label asp-for="Discount" class="control-label">Discount</label></td>
                    <td><input id="discount" asp-for="Discount" value="@ViewBag.Discount" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td id="grandTotal"><span>0</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<script src="~/js/EditView.js"></script>*@
